@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('Fotos/universo2.png');
    background-size: 100%;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 9px rgba(158, 149, 0, 1);  
      font-family: 'Noto Sans JP', sans-serif;
    font-size: 2rem;
}

.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.texto{
    width: 40%;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro{
    width: 40%;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    line-height: 6rem;
}

.Btn{
    font-size: 2rem;
    padding: 0.8rem;
    border-radius: 10px;
    outline:none;
    border: 3px solid red;
}

.final-diapo{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.tercero{
    display: none;
    font-size: 2rem;
}

.div-sexto{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    justify-content: center;
}

.cuerpo{
    display: none;
    flex-direction: column;
}

.cabecera{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.cabecera-comi{
    font-family: 'Rubik', sans-serif;
}

.your{
    color: red;
}

.Btn-fotos{
    box-sizing: border-box;
    border: 0px;
    padding: 0;
    height: 650px;
}
/*FOTOS COMUN------------------------------*/
.foto{
    width: 30%;
    height: 100%;
    padding: 0.5rem;
    height: 750px;
    margin-bottom: 2rem;
}

.imagen{
    width: 100%;
    max-height: 650px;
    padding: 0;
    height: 650px;
}

.fotos-audios{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 650px){
    body{
        background-image: url('Fotos/universo.png');
        background-repeat: no-repeat;
        color: rgb(255, 255, 255);
    }

    .texto{
        width: 60%;
        font-size: 1.6rem;
    }

    h1{
        font-size: 2.8rem;
    }

    .texto h1{
        line-height: 4rem;
    }

    .Btn{
        font-size: 1.5rem;
        padding: 0.8rem;
        border-radius: 10px;
        outline:none;
        border: 3px solid red;
    }

    .div-sexto h1{
        line-height: 2.5rem;
        font-size: 1.5rem;
    }

    .div-sexto{
        width: 100%;
    }

    .tercero{
        font-size: 2rem;
    }

    .foto{
        width: 30%;
        height: 130px;
        padding: 0.2rem;
    }

    .Btn-fotos{
        height: 130px;
    }


    .cabecera{
        margin-bottom: 1rem;
        margin-top: 2rem;
    }

    .cabecera h1{
        line-height: 3.3rem;
    }

    .fotos-audios{
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .imagen{
        padding: 0rem;
        height: 100%;
        max-height: 130px;
    }

    
}

